<div class="container-fluid">
  <div class="row">
    <div class="col py-3">
      <div class="bg-lantern">
        <img src="/assets/lantern.png" alt="">
      </div>
      <h5 class="title text-muted mri">This is an awesome component</h5>
      <h3 class="my-4 mri">Ngx Blader makes it more awesome.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, accusamus consequatur qui nulla deserunt a debitis! Facere delectus cupiditate doloremque fugit perspiciatis porro excepturi numquam. Accusamus, placeat. Hic, quo similique.</p>
      <a class="btn btn-outline-success btn-sm mt-5" href="https://github.com/cossth/ngx-blader">Read more</a>
    </div>
  </div>
</div>
