<div class="container">
  <div class="row py-3">
    <div class="col">
        <div class="h4"><b>Here is the code</b></div>
        <pre>
        <code>
  Angular CLI: 8.0.6
  Node: 10.15.3
  OS: win32 x64
  Angular: 8.0.6

  Package                            Version
  ------------------------------------------------------------
  @angular-devkit/architect          0.800.6
  @angular-devkit/build-angular      0.800.6
  @angular-devkit/build-ng-packagr   0.800.6
  @angular-devkit/build-optimizer    0.800.6
  @angular-devkit/build-webpack      0.800.6
  @angular-devkit/core               8.0.6
  @angular-devkit/schematics         8.0.6
  @angular/cdk                       8.0.1
  @angular/cli                       8.0.6
  @angular/flex-layout               8.0.0-beta.26
  @angular/material                  8.0.1
  @bazel/bazel                       0.27.0
  @bazel/ibazel                      0.10.3
  @bazel/karma                       0.31.1
  @bazel/typescript                  0.32.2
  @ngtools/json-schema               1.1.0
  @ngtools/webpack                   8.0.6
  @schematics/angular                8.0.6
  @schematics/update                 0.800.6
  ng-packagr                         5.2.0
  rxjs                               6.5.2
  typescript                         3.4.5
  webpack                            4.30.0
        </code>
        </pre>

    </div>
  </div>
</div>
